* {
    margin: 0;
    padding: 0;
}

.largura-total {
    width: calc(100% - 80px);
    margin: 0 auto;
    margin-bottom: 10px;

}

.produtoras {
    display: flex;
    height: auto;
    padding:0 auto;
    justify-content: center;

}

.produtoras img {
    box-shadow: 10px 10px 10px black;
    margin: 10px;
    width: 20vw;
    height: 30vh;
    border-radius: 5px;
    object-fit: cover;

}

body {
    background-image: url(img/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}